{% extends 'templates/tmmosc/base/AuthUserHeader.html' %}
   {% block title %}{{ team_name }}{% endblock %}
   {% block styles %}
       <style>
           body, .mdl-card__title{
               color: #ffffff;
           }
           .mdl-button {
               height: 56px;
               width: 56px;
            }
           .mdl-button--fab.mdl-button--colored {
                background: rgb(178,255,89);
                color: rgb(255,255,255);
            }
       </style>
   {% endblock %}
   {% block menu_nav %}
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Список соревнований</a>
          <a class="mdl-navigation__link" href="/reg/leaderTeam">Моя команда</a>
          <a class="mdl-navigation__link" href="/reg/leaderAddMember">Добавить участника</a>
        </nav>
      </div>
   {% endblock %}
   {% block main_content %}
      <main class="mdl-layout__content">
          <!--  Content  -->
          <div class="page-content">
            <div class="mdl-grid" style="margin-top:15px;">
              <div class="mdl-cell mdl-cell--1-col"></div>
              <div class="mdl-cell mdl-cell--10-col">
                   <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; min-height: 150px; margin-top: 35px;">
                      <div class="mdl-grid mdl-card__title" style="height: 120px; width: 100%; text-align: center; border: none;">
                        <div class="mdl-cell mdl-cell--1-col"></div>
                          <div style="text-align: center; margin-top: 24px;" class="mdl-cell mdl-cell--4-col">
                              <h2 class="mdl-card__title-text">Моя команда</h2>
                          </div>
                          <div class="mdl-cell mdl-cell--7-col"></div>
                          <div class="mdl-cell mdl-cell--7-col"></div>
                          <div class="mdl-cell mdl-cell--5-col">
                              <button id="saveInfo" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="top: 14px; left:10px;" form="formSaveTeam">
                                  <i class="material-icons">save</i>
                              </button>
                          </div>
                      </div>   <!--   .mdl-card__title  -->
                      <div class="mdl-card__actions mdl-card--border" style="border: none; background: #fff; padding: 30px 0 0 0;">
                          <form id="formSaveTeam" name="formSaveTeam" action="/reg/leaderTeam" method="post">
                              <div class="mdl-grid" style="padding-bottom: 0px;">
                                  <div class="mdl-cell--1-col"></div>
                                  <div class="mdl-cell--2-col">
                                      <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Название</b></p>
                                  </div>
                                  <div class="mdl-cell--7-col">
                                      <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                        <input class="mdl-textfield__input" type="text" id="nameTeam" name="nameTeam" value="{{ team_name }}">
                                        <label class="mdl-textfield__label" for="sample1">Введите название команды</label>
                                      </div>
                                  </div>
                                  <div class="mdl-cell--3-col"></div>
                              </div>
                              <div class="mdl-grid" style="padding-bottom: 0px;">
                                  <div class="mdl-cell--1-col"></div>
                                  <div class="mdl-cell--2-col">
                                      <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Территория</b></p>
                                  </div>
                                  <div class="mdl-cell--7-col">
                                      <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                        <input class="mdl-textfield__input" type="text" id="terryTeam" name="terryTeam" value="{{ terry }}">
                                        <label class="mdl-textfield__label" for="sample1">Введите территорию (город и, возможно, район)</label>
                                      </div>
                                  </div>
                                  <div class="mdl-cell--3-col"></div>
                              </div>
                          </form>
                          <div class="mdl-grid" style="padding-bottom: 0px; margin-bottom: 0px;">
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--11-col">
                                  <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Список участников команды</b></p>
                              </div>
                          </div>
                          <div class="mdl-grid" style="padding-top: 0px; margin-bottom: 24px;">
                              <!--  row3  -->
                              <div class="mdl-cell mdl-cell--1-col"></div>
                              <div class="mdl-cell mdl-cell--10-col" >
                                  <div style="width: 100%; text-align: center;">
                                  {% if membs_count > 0 %}
                                    <table class="mdl-data-table mdl-js-data-table">
                                      <thead>
                                          <tr>
                                            <th class="myP" style="width: 35%; color: #42a5f5; text-align: center;">ФИО</th>
                                            <th class="myP" style="width: 10%; color: #42a5f5; text-align: center;">Год рождения</th>
                                            <th class="myP" style="width: 10%; color: #42a5f5; text-align: center;">Разряд</th>
                                            <th class="myP" style="width: 20%; color: #42a5f5; text-align: center;">Пол</th>
                                            <th style="width: 2%; color: #42a5f5;"></th>
                                          </tr>
                                      </thead>
                                      <tbody>0
                                          {% for memb in membs %}
                                              <tr style="color: #42a5f5;">
                                                <td class="myP" style="width: 35%; text-align: center; padding-left: 2px; padding-right: 2px;">{{ memb.surname }}</td>
                                                <td class="myP" style="width: 10%; text-align: center; padding-left: 2px; padding-right: 2px;">{{ memb.birthdate }}</td>
                                                <td class="myP" style="width: 10%; text-align: center; padding-left: 2px; padding-right: 2px;">{{ memb.qualification }}</td>
                                                <td class="myP" style="width: 20%; text-align: center; padding-left: 2px; padding-right: 2px;">{{ memb.sex }}</td>
                                                <td style="width: 1%; text-align: center; bottom: 4px;">
                                                  <form action="/reg/lead/changeMember" method="get" style="display: inline;">
                                                    <button class="mdl-button mdl-js-button mdl-button--icon " type="submit" style="width: 32px; height: 32px;">
                                                      <i class="material-icons">mode_edit</i>
                                                    </button>
                                                    <input type="text" style="display: none;" value="{{ keys[loop.index0] }}" name="change">
                                                  </form>
                                                  <form action="/reg/lead/deleteMember" method="post" style="display: inline;">
                                                    <input type="text" style="display: none;" value="{{ keys[loop.index0] }}" name="delete">
                                                    <button class="mdl-button mdl-js-button mdl-button--icon" type="submit" style="width: 32px; height: 32px;">
                                                      <i class="material-icons" id="deleteMemb">delete</i>
                                                    </button>
                                                  </form>
                                                </td>
                                              </tr>
                                          {% endfor %}
                                      </tbody>
                                    </table>
                                  {% else %}
                                    <p class="myP" style="color: #42a5f5; top: 10px;">В вашей команде пока нет участников</p>
                                  {% endif %}
                                  </div>
                              </div>
                              <div class="mdl-cell mdl-cell--1-col"></div>
                          </div>
                      </div>    <!--  mdl-cards__actions  -->
                   </div>

              </div>    <!--  вся карточка  -->
              <div class="mdl-cell mdl-cell--1-col"></div>
            </div>  <!-- mdl-grid -->

          </div>  <!-- page-content -->
      </main>
    </div>
    {% endblock %}