{% extends 'templates/tmmosc/base/AuthUserHeader.html' %}
   {% block title %}Список соревнований{% endblock %}
   {% block styles %}
       <style>
           body, .mdl-card__title{
               color: #ffffff;
           }
           .competition-card:hover{
               background: #64B5F6;
           }
           .demo-list-item {
              width: 300px;
           }
       </style>
   {% endblock %}
   {% block menu_nav %}
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Список соревнований</a>
          <a class="mdl-navigation__link" href="/reg/newCompetition">Новое соревнование</a>
          <a class="mdl-navigation__link" href="/reg/memberList">Список участников</a>
          <a class="mdl-navigation__link" href="/reg/leaderList">Список руководителей</a>
          <a class="mdl-navigation__link" href="/reg/organizerList">Список организаторов</a>
        </nav>
      </div>
   {% endblock %}