<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Новое соревнование</title>
       
   <link rel="stylesheet" href="../../../static/css/material.indigo-pink.min.css">
   <link rel="stylesheet" href="../../../static/css/materialIcons.css">
   <link rel="stylesheet" href="../../../static/css/material.min.css">
   <link rel="stylesheet" href="../../../static/css/BaseStyle.css">

   <script src="../../../static/js/jquery.min.js"></script>
   <script type = "text/javascript" src="../../../static/js/material.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
   <script>
       $("input").on("change", function() {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD")
                .format( this.getAttribute("data-date-format") )
            )
        }).trigger("change");
   </script>

   <style>
       body, .mdl-card__title{
           color: #ffffff;
       } 

        .tabs ul {list-style:none;margin:0;width:100%;overflow:hidden;padding:0;margin-left:16px;}
        .tabs ul li {float:left;width:100px}
        .tabs a {position:relative;color:white;text-decoration:none;display:block;width:100px;height:50px;text-align:center;line-height:52px;font-weight:700;font-size:14px;color:rgba(255,255,255,0.6);overflow:hidden;}   

       .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
            color: rgba(255, 255, 255, 1);
        }
       .mdl-button {
           height: 56px;
           width: 56px;
        }
       .mdl-button--fab.mdl-button--colored {
            background: rgb(178,255,89);
            color: rgb(255,255,255);
        }
       .tab-content{
           margin-top: 40px; margin-left: 10%; margin-right: 10%; margin-bottom: 50px;
       }
       .myP{
           font-size: 16px;
       }
       th, .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric, 
.mdl-data-table th{
           text-align: center;
       }
   </style>      
    
</head>
<body> 

    <!--  Header and Menu   -->
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ role }}</span> <!-- Здесь заменить Организатор на переменную шаблона -->
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">{{ user_email }}</a>
            <a class="mdl-navigation__link" href="{{ logout }}">Выход</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Список соревнований</a>
          <a class="mdl-navigation__link" href="/reg/newCompetition">Новое соревнование</a>
          <a class="mdl-navigation__link" href="/reg/memberList">Список участников</a>
          <a class="mdl-navigation__link" href="/reg/leaderList">Список руководителей</a>
          <a class="mdl-navigation__link" href="/reg/organizerList">Список организаторов</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <form action="/reg/addCompetition" id="formNewComp" method="get" name="formNewComp">
          <!--  Content  -->
          <div class="page-content">

            <div class="mdl-grid" style="margin-top:15px;">
              <div class="mdl-cell mdl-cell--1-col"></div>  
              <div class="mdl-cell mdl-cell--10-col">       
                   <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; min-height: 150px; margin-top: 35px;">

                      <div class="mdl-grid mdl-card__title" style="height: 120px; width: 100%; text-align: center; border: none;">
                        <div class="mdl-cell mdl-cell--1-col"></div>
                          <div style="text-align: center; margin-top: 24px;" class="mdl-cell mdl-cell--4-col">
                              <h2 class="mdl-card__title-text">Новое соревнование</h2>
                          </div>
                          <div class="mdl-cell mdl-cell--7-col"></div>
                          <div class="mdl-cell mdl-cell--7-col"></div>
                          <div class="mdl-cell mdl-cell--5-col">
                              <button id="saveInfo" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="top: 14px; left:10px;" form="formNewComp">
                                  <i class="material-icons">save</i>
                              </button>
                          </div>
                      </div>   <!--   .mdl-card__title  -->
                      <div class="mdl-card__actions mdl-card--border" style="border: none; background: #fff; padding: 30px 0 0 0;">
                          <div class="mdl-grid" style="padding-bottom: 0px;">
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--2-col">
                                  <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Название</b></p>
                              </div>
                              <div class="mdl-cell--7-col">
                                  <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                    <input class="mdl-textfield__input" type="text" id="nameCompNew" name="nameCompNew">
                                    <label class="mdl-textfield__label" for="sample1">Введите название соревнования</label>
                                  </div>
                              </div>
                              <div class="mdl-cell--3-col"></div>
                          </div>
                          <div class="mdl-grid" style="padding-top: 0px; padding-bottom: 0px;">
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--2-col">
                                  <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Начало</b></p>
                              </div>
                              <div class="mdl-cell--2-col">
                                  <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                    <input class="mdl-textfield__input" type="date" data-date="" data-date-format="DD MMMM YYYY" id="dateStartNew" name="dateStartNew" value="2016-01-01">
                                  </div>
                              </div>
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--2-col">
                                  <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Окончание</b></p>
                              </div>
                              <div class="mdl-cell--2-col">
                                  <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                    <input class="mdl-textfield__input" type="date" data-date="" data-date-format="DD MMMM YYYY" id="dateFinishNew" name="dateFinishNew" value="2016-01-04">
                                  </div>
                              </div>
                              <div class="mdl-cell--2-col"></div>
                          </div>
                          <div class="mdl-grid" style="padding-top: 0px; ">
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--2-col">
                                  <p class="myP" style="color: #42A5F5; margin: 25px 0 0 30px;"><b>Число стартов</b></p>
                              </div>
                              <div class="mdl-cell--2-col">
                                  <div class="mdl-textfield mdl-js-textfield" style="width: 100%; color: #42A5F5;">
                                    <input class="mdl-textfield__input" type="text" id="countStart" name="countStart">
                                    <label class="mdl-textfield__label" for="sample1">Введите число стартовых дней</label>
                                  </div>
                              </div>
                              <div class="mdl-cell--7-col"></div>
                          </div>
                          <div class="mdl-grid">
                              <div class="mdl-cell--1-col"></div>
                              <div class="mdl-cell--2-col">
                                  <p class="myP" style="color: #42A5F5; margin: 0 0 0 30px;"><b>Дополнительно</b></p>
                              </div>
                              <div class="mdl-cell--9-col"></div>
                          </div>
                          <div class="mdl-grid" style="margin-bottom:40px;">
                              <div class="mdl-cell--2-col"></div>
                              <div class="mdl-cell--6-col">
                                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkPlaces" style="left:30px;">
                                      <input type="checkbox" id="checkPlaces" name="checkPlaces" class="mdl-checkbox__input" checked>
                                      <span class="mdl-checkbox__label" style="color: #42a5f5; left:30px;">Указывать места стартов</span>
                                  </label>
                              </div>
                              <div class="mdl-cell--4-col"></div>
                              <div class="mdl-cell--2-col"></div>
                              <div class="mdl-cell--6-col">
                                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkPlacesMap" style="left:30px; margin-top:10px;">
                                      <input type="checkbox" id="checkPlacesMap" name="checkPlacesMap" class="mdl-checkbox__input" checked>
                                      <span class="mdl-checkbox__label" style="color: #42a5f5; left:30px;">Отображать места стартов на карте</span>
                                  </label>
                              </div>

                              <div class="mdl-cell--4-col"></div>
                          </div>

                      </div>    <!--  mdl-cards__actions  -->
                   </div>

              </div>    <!--  вся карточка  -->
              <div class="mdl-cell mdl-cell--1-col"></div>  
            </div>  <!-- mdl-grid -->

          </div>  <!-- page-content -->
        </form>  <!--  formNewComp  -->
      </main>
    </div>

</body>   

<script type="application/javascript" src="../../../static/js/toAddCometition.js"></script>
    
</html>