<!DOCTYPE html>
<html lang="ru">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <title>Шаблон</title>
  {% endblock %}
  {% block style_scipt %}

  {% endblock %}
</head>
<body>
  {% block menu %}
        <!--  Header and Menu   -->
        <div class="mdl-layout mdl-js-layout">
          <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
              <span class="mdl-layout-title">Организатор</span> <!-- Здесь заменить Организатор на переменную шаблона -->
              <div class="mdl-layout-spacer"></div>
              <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">{{ user_email }}</a>
                <a class="mdl-navigation__link" href="{{ logout }}">Выход</a>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"></span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/">Список соревнований</a>
              <a class="mdl-navigation__link" href="/reg/newCompetition">Новое соревнование</a>
              <a class="mdl-navigation__link" href="/reg/memberList">Список участников</a>
              <a class="mdl-navigation__link" href="/reg/leaderList">Список руководителей</a>
              <a class="mdl-navigation__link" href="/reg/organizerList">Список организаторов</a>
            </nav>
          </div>
  {% endblock %}


  {% block content %}

  {% endblock %}
        </div>
</body>
  {% block script %}

  {% endblock %}
</html>